### This Jupyter notebook includes the codes showed in https://codeburst.io/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e

### Import all data

In [2]:
import pandas as pd

In [3]:
airports = pd.read_csv('airports.csv')
airport_freq = pd.read_csv('airport-frequencies.csv')
runways = pd.read_csv('runways.csv')

In [4]:
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [6]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53631 entries, 0 to 53630
Data columns (total 18 columns):
id                   53631 non-null int64
ident                53631 non-null object
type                 53631 non-null object
name                 53631 non-null object
latitude_deg         53631 non-null float64
longitude_deg        53631 non-null float64
elevation_ft         47257 non-null float64
continent            26563 non-null object
iso_country          53384 non-null object
iso_region           53631 non-null object
municipality         48068 non-null object
scheduled_service    53631 non-null object
gps_code             41117 non-null object
iata_code            9159 non-null object
local_code           28318 non-null object
home_link            2894 non-null object
wikipedia_link       9619 non-null object
keywords             8004 non-null object
dtypes: float64(3), int64(1), object(14)
memory usage: 7.4+ MB

In [5]:
airport_freq.head()

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.9
1,307581,6589,01FL,ARCAL,NaN,122.9
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8
3,60191,6756,04CA,CTAF,CTAF,122.9
4,59287,6779,04MS,UNIC,UNICOM,122.8

In [7]:
airport_freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28647 entries, 0 to 28646
Data columns (total 6 columns):
id               28647 non-null int64
airport_ref      28647 non-null int64
airport_ident    28647 non-null object
type             28647 non-null object
description      27923 non-null object
frequency_mhz    28647 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.3+ MB

In [8]:
runways.head()

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,...,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft,Unnamed: 20
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,...,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,...,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN
3,270932,6526,00AR,40.0,40.0,GRASS,0,0,H1,NaN,...,NaN,NaN,NaN,H1,NaN,NaN,NaN,NaN,NaN,NaN
4,322128,322127,00AS,1450.0,60.0,Turf,0,0,1,NaN,...,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
runways.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40746 entries, 0 to 40745
Data columns (total 21 columns):
id                           40746 non-null int64
airport_ref                  40746 non-null int64
airport_ident                40746 non-null object
length_ft                    40576 non-null float64
width_ft                     38142 non-null float64
surface                      40523 non-null object
lighted                      40746 non-null int64
closed                       40746 non-null int64
le_ident                     40627 non-null object
le_latitude_deg              14218 non-null float64
le_longitude_deg             14215 non-null float64
le_elevation_ft              12090 non-null float64
le_heading_degT              14021 non-null float64
le_displaced_threshold_ft    2796 non-null float64
he_ident                     34604 non-null object
he_latitude_deg              14205 non-null float64
he_longitude_deg             14207 non-null float64
he_elevation_ft              11980 non-null float64
he_heading_degT              15834 non-null float64
he_displaced_threshold_ft    3105 non-null float64
Unnamed: 20                  0 non-null float64
dtypes: float64(13), int64(4), object(4)
memory usage: 6.5+ MB

## SELECT, WHERE, DISTINCT, LIMIT

### SQL: 
select * from airports limit 3

In [11]:
airports.head(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN

### SQL: 
select id from airports where ident = 'KLAX'

In [15]:
airports.loc[airports.ident == 'KLAX', :]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
27524,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,US,US-CA,Los Angeles,yes,KLAX,LAX,LAX,http://www.iflylax.com/,http://en.wikipedia.org/wiki/Los_Angeles_Inter...,NaN

In [14]:
airports[airports.ident == 'KLAX'].id

27524    3632
Name: id, dtype: int64

### SQL: 
select distinct type from airport

In [17]:
airports.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

#








## SELECT with multiple conditions

### SQL:  
select * from airports where iso_region = 'US-CA' and type = 'seaplane_base'

In [19]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
972,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,NaN,US,US-CA,Los Banos,no,0O0,NaN,0O0,NaN,NaN,NaN
2480,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.879902,-122.514000,NaN,NaN,US,US-CA,Sausalito,no,22CA,NaN,22CA,NaN,NaN,NaN
6215,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,NaN,US,US-CA,Kelseyville,no,5CA9,NaN,5CA9,NaN,NaN,NaN
12763,16514,C39,seaplane_base,Folsom Lake Seaplane Base,38.707199,-121.133003,466.0,NaN,US,US-CA,Folsom,no,C39,NaN,C39,NaN,NaN,NaN
15077,16830,CN20,seaplane_base,Ferndale Resort Seaplane Base,39.002998,-122.796997,1326.0,NaN,US,US-CA,Kelseyville,no,CN20,NaN,CN20,NaN,NaN,NaN
17428,17157,E20,seaplane_base,Lake Berryessa Seaplane Base,38.591599,-122.259003,440.0,NaN,US,US-CA,Napa,no,E20,NaN,E20,NaN,NaN,NaN
22526,17613,H77,seaplane_base,Bridge Bay Resort Seaplane Base,40.757599,-122.322998,1065.0,NaN,US,US-CA,Redding,no,H77,NaN,H77,NaN,NaN,NaN
29766,21444,L11,seaplane_base,Pebbly Beach Seaplane Base,33.338402,-118.311996,NaN,NaN,US,US-CA,Avalon,no,KL11,NaN,L11,NaN,NaN,NaN
35928,23479,O06,seaplane_base,Lake Oroville Landing Area Seaplane Base,39.566601,-121.468002,900.0,NaN,US,US-CA,Oroville,no,O06,NaN,O06,NaN,NaN,NaN
39550,24384,S74,seaplane_base,Lost Isle Seaplane Base,38.004101,-121.457001,NaN,NaN,US,US-CA,Stockton,no,S74,NaN,S74,NaN,NaN,NaN
46947,300312,TWH,seaplane_base,Two Harbors Amphibious Terminal,33.432222,-118.508611,NaN,NaN,US,US-CA,Two Harbors,no,NaN,TWH,NaN,NaN,NaN,NaN

### SQL:
select ident, name, municipality from airports where iso_region = 'US-CA' and type = 'large_airport'

In [20]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'large_airport')].loc[:, ['ident', 'name', 'municipality']]

      ident                                             name   municipality
25897  KBAB                             Beale Air Force Base     Marysville
26734  KEDW                           Edwards Air Force Base        Edwards
27524  KLAX                Los Angeles International Airport    Los Angeles
28051  KOAK       Metropolitan Oakland International Airport        Oakland
28107  KONT                    Ontario International Airport        Ontario
29134  KSAN                  San Diego International Airport      San Diego
29174  KSFO              San Francisco International Airport  San Francisco
29195  KSJC  Norman Y. Mineta San Jose International Airport       San Jose
29217  KSMF                 Sacramento International Airport     Sacramento
29223  KSNA         John Wayne Airport-Orange County Airport      Santa Ana
29272  KSUU                            Travis Air Force Base      Fairfield
29504  KVBG                        Vandenberg Air Force Base         Lompoc

##
##
## ORDER BY

### SQL:
select * from airport_freq where airport_ident = 'KLAX' order by type

In [21]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type')

          id  airport_ref airport_ident  type description  frequency_mhz
11862  60767         3632          KLAX   APP   SOCAL APP          36.07
11863  60766         3632          KLAX   APP   SOCAL APP         124.30
11864  60768         3632          KLAX  ATIS        ATIS         133.80
11865  60769         3632          KLAX   CLD    CLNC DEL         121.40
11866  60770         3632          KLAX   DEP   SOCAL DEP         124.30
11867  60771         3632          KLAX   GND         GND         121.65
11868  60772         3632          KLAX  MISC          CG          34.50
11869  60773         3632          KLAX  MISC          CG         898.40
11870  60774         3632          KLAX   OPS          AF          37.22
11871  60775         3632          KLAX   TWR         TWR         119.80
11872  60776         3632          KLAX  UNIC      UNICOM         122.95

### SQL: 
select * from airport_freq where airport_ident = 'KLAX' order by type desc

In [23]:
airport_freq[airport_freq.airport_ident == 'KLAX'].sort_values('type', ascending=False)

          id  airport_ref airport_ident  type description  frequency_mhz
11872  60776         3632          KLAX  UNIC      UNICOM         122.95
11871  60775         3632          KLAX   TWR         TWR         119.80
11870  60774         3632          KLAX   OPS          AF          37.22
11868  60772         3632          KLAX  MISC          CG          34.50
11869  60773         3632          KLAX  MISC          CG         898.40
11867  60771         3632          KLAX   GND         GND         121.65
11866  60770         3632          KLAX   DEP   SOCAL DEP         124.30
11865  60769         3632          KLAX   CLD    CLNC DEL         121.40
11864  60768         3632          KLAX  ATIS        ATIS         133.80
11862  60767         3632          KLAX   APP   SOCAL APP          36.07
11863  60766         3632          KLAX   APP   SOCAL APP         124.30

##


##

## IN… NOT IN

### SQL:
select * from airports where type in ('heliport', 'balloonport')

In [24]:
airports[airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
9,322658,00CN,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,NaN,US,US-CA,Pine Valley,no,00CN,NaN,00CN,NaN,NaN,NaN
12,6532,00FD,heliport,Ringhaver Heliport,28.846600,-82.345398,25.0,NaN,US,US-FL,Riverview,no,00FD,NaN,00FD,NaN,NaN,NaN
15,6535,00GE,heliport,Caffrey Heliport,33.884201,-84.733902,957.0,NaN,US,US-GA,Hiram,no,00GE,NaN,00GE,NaN,NaN,NaN
16,6536,00HI,heliport,Kaupulehu Heliport,19.832715,-155.980233,43.0,NaN,US,US-HI,Kailua/Kona,no,00HI,NaN,00HI,NaN,NaN,NaN
19,6538,00II,heliport,Bailey Generation Station Heliport,41.644501,-87.122803,600.0,NaN,US,US-IN,Chesterton,no,00II,NaN,00II,NaN,NaN,NaN
21,6540,00IN,heliport,St Mary Medical Center Heliport,41.511398,-87.260597,634.0,NaN,US,US-IN,Hobart,no,00IN,NaN,00IN,NaN,NaN,NaN
25,45437,00LA,heliport,Shell Chemical East Site Heliport,30.191944,-90.980833,15.0,NaN,US,US-LA,Gonzales,no,00LA,NaN,00LA,NaN,NaN,NaN
26,6544,00LL,heliport,Ac & R Components Heliport,39.665298,-89.705597,600.0,NaN,US,US-IL,Chatham,no,00LL,NaN,00LL,NaN,NaN,NaN
29,6547,00MI,heliport,Dow Chemical Heliport,43.949402,-86.416702,588.0,NaN,US,US-MI,Ludington,no,00MI,NaN,00MI,NaN,NaN,NaN
35,6553,00NJ,heliport,Colgate-Piscataway Heliport,40.520901,-74.474602,78.0,NaN,US,US-NJ,New Brunswick,no,00NJ,NaN,00NJ,NaN,NaN,NaN
39,6556,00OI,heliport,Miami Valley Hospital Heliport,39.745300,-84.187401,905.0,NaN,US,US-OH,Dayton,no,00OI,NaN,00OI,NaN,NaN,NaN
40,6557,00OR,heliport,Steel Systems Heliport,44.932899,-123.129997,195.0,NaN,US,US-OR,Salem,no,00OR,NaN,00OR,NaN,NaN,NaN
41,6558,00PA,heliport,R J D Heliport,39.948898,-75.746902,402.0,NaN,US,US-PA,Coatesville,no,00PA,NaN,00PA,NaN,NaN,NaN
46,6562,00TA,heliport,Sw Region Faa Heliport,32.826900,-97.305801,598.0,NaN,US,US-TX,Fort Worth,no,00TA,NaN,00TA,NaN,NaN,NaN
47,6563,00TE,heliport,Tcjc-Northeast Campus Heliport,32.847599,-97.189499,600.0,NaN,US,US-TX,Fort Worth,no,00TE,NaN,00TE,NaN,NaN,NaN
59,322300,00WY,heliport,Mountain View Regional Hospital Heliport,42.840361,-106.224443,5210.0,NaN,US,US-WY,Casper,no,00WY,NaN,00WY,NaN,NaN,NaN
62,6577,01AK,heliport,Providence Seward Medical Center Heliport,60.105874,-149.446249,120.0,NaN,US,US-AK,Seward,no,01AK,NaN,01AK,NaN,NaN,NaN
64,6579,01AR,heliport,Community Hospital of De Queen Heliport,34.047298,-94.354897,400.0,NaN,US,US-AR,De Queen,no,01AR,NaN,01AR,NaN,NaN,NaN
65,6580,01AZ,heliport,Yat Heliport,34.608101,-111.864998,3300.0,NaN,US,US-AZ,Camp Verde,no,01AZ,NaN,01AZ,NaN,NaN,NaN
67,6582,01CA,heliport,Lugo Substation Heliport,34.368241,-117.370059,3733.0,NaN,US,US-CA,Hesperia,no,01CA,NaN,01CA,NaN,NaN,NaN
69,6584,01CN,heliport,Los Angeles County Sheriff's Department Heliport,34.037800,-118.153999,300.0,NaN,US,US-CA,Los Angeles,no,01CN,NaN,01CN,NaN,NaN,NaN
70,6585,01CO,heliport,St Vincent General Hospital Heliport,39.245300,-106.246002,10175.0,NaN,US,US-CO,Leadville,no,01CO,NaN,01CO,NaN,NaN,NaN
71,6586,01CT,heliport,Berlin Fairgrounds Heliport,41.627300,-72.727501,60.0,NaN,US,US-CT,Berlin,no,01CT,NaN,01CT,NaN,NaN,NaN
73,6588,01FD,heliport,Florida Hospital-Altamonte Heliport,28.666401,-81.370598,86.0,NaN,US,US-FL,Altamonte Springs,no,01FD,NaN,01FD,NaN,NaN,NaN
75,6590,01GA,heliport,Medical Center Heliport,32.479301,-84.979103,319.0,NaN,US,US-GA,Columbus,no,01GA,NaN,01GA,NaN,NaN,NaN
80,6594,01IL,heliport,Hoopeston Community Memorial Hospital Heliport,40.458599,-87.659500,583.0,NaN,US,US-IL,Hoopeston,no,01IL,NaN,01IL,NaN,NaN,NaN
81,6595,01IN,heliport,Community Hospital Heliport,40.130901,-85.695801,890.0,NaN,US,US-IN,Anderson,no,01IN,NaN,01IN,NaN,NaN,NaN
86,6600,01KY,heliport,Lourdes Hospital Heliport,37.051701,-88.646896,419.0,NaN,US,US-KY,Paducah,no,01KY,NaN,01KY,NaN,NaN,NaN
90,6604,01MA,heliport,Compaq Andover Heliport,42.625099,-71.180099,140.0,NaN,US,US-MA,Andover,no,01MA,NaN,01MA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53051,309395,YXPK,heliport,Parkes Hospital Helipad,-33.127030,148.169990,1189.0,OC,AU,AU-NSW,Parkes,no,YXPK,NaN,YXPK,NaN,NaN,NaN
53052,309376,YXPM,heliport,Port Macquarie Hospital Helipad,-31.452683,152.880760,32.0,OC,AU,AU-NSW,Port Macquarie,no,YXPM,NaN,YXPM,NaN,NaN,NaN
53053,309316,YXPN,heliport,Proserpine Hospital Helipad,-20.399120,148.585500,44.0,OC,AU,AU-QLD,Proserpine,no,YXPN,NaN,YXPN,NaN,NaN,NaN
53054,309375,YXQU,heliport,Quirindi Hospital Helipad,-31.501070,150.676606,1365.0,OC,AU,AU-NSW,Quirindi,no,YXQU,NaN,YXQU,NaN,NaN,NaN
53055,309374,YXRN,heliport,Rylstone Hospital Helipad,-32.803975,149.975076,1971.0,OC,AU,AU-NSW,Rylstone,no,YXRN,NaN,YXRN,NaN,NaN,NaN
53056,309342,YXSA,heliport,Sydney Adventist Hospital Helipad,-33.733386,151.100006,584.0,OC,AU,AU-NSW,Wahroonga,no,YXSA,NaN,YXSA,NaN,NaN,NaN
53057,309353,YXSC,heliport,Scone Hospital Helipad,-32.050268,150.877663,782.0,OC,AU,AU-NSW,Scone,no,YXSC,NaN,YXSC,NaN,NaN,NaN
53058,309344,YXSG,heliport,St George Hospital Helipad,-33.968070,151.133680,150.0,OC,AU,AU-NSW,Kogarah,no,YXSG,NaN,YXSG,NaN,NaN,NaN
53059,309352,YXSH,heliport,Shellharbour Hospital Helipad,-34.559890,150.841730,99.0,OC,AU,AU-NSW,Shellharbour,no,YXSH,NaN,YXSH,NaN,NaN,NaN
53060,309351,YXSI,heliport,Singleton Hospital Helipad,-32.567080,151.186865,151.0,OC,AU,AU-NSW,Singleton,no,YXSI,NaN,YXSI,NaN,NaN,NaN
53061,309343,YXSU,heliport,Sutherland Hospital Helipad,-34.038783,151.115600,119.0,OC,AU,AU-NSW,Miranda,no,YXSU,NaN,YXSU,NaN,NaN,NaN
53063,310102,YXTE,heliport,Tenterfield - Federation Park Heliport,-29.048000,152.016400,2762.0,OC,AU,AU-NSW,Tenterfield,no,YXTE,NaN,YXTE,NaN,NaN,NaN
53064,313356,YXTN,heliport,Trundle Hospital Helicopter Landing Site,-32.921700,147.706700,822.0,OC,AU,AU-NSW,Trundle,no,YXTN,NaN,YXTN,NaN,NaN,NaN
53065,310101,YXTR,heliport,Taree - Wrigley Park Helipad,-31.906400,152.450800,39.0,OC,AU,AU-NSW,Taree,no,YXTR,NaN,YXTR,NaN,NaN,NaN
53066,309333,YXTT,heliport,Tumut Hospital Helipad,-35.308000,148.219100,1052.0,OC,AU,AU-NSW,Tumut,no,YXTT,NaN,YXTT,NaN,NaN,NaN
53067,309334,YXTW,heliport,Tamworth Hospital Helipad,-31.074570,150.926410,1356.0,OC,AU,AU-NSW,Tamworth,no,YXTW,NaN,YXTW,NaN,NaN,NaN
53068,317136,YXUH,heliport,Bulahdelah Helicopter Landing Site,-32.400000,152.200000,13.0,OC,AU,AU-NSW,Bulahdelah,no,YXUH,NaN,YXUH,NaN,NaN,NaN
53069,310103,YXWG,heliport,Wagga - Duke of Kent Oval Helipad,-35.114340,147.354100,588.0,OC,AU,AU-NSW,Wagga,no,YXWG,NaN,YXWG,NaN,NaN,NaN
53070,309327,YXWL,heliport,Wollongong Hospital Helipad,-34.424190,150.882200,160.0,OC,AU,AU-NSW,Wollongong,no,YXWL,NaN,YXWL,NaN,NaN,NaN
53071,311184,YXWT,heliport,Wellington-Rygate Park Heliport,-32.548700,148.949700,1005.0,OC,AU,AU-NSW,Wellington,no,YXWT,NaN,YXWT,NaN,NaN,NaN
53072,310104,YXWW,heliport,Wee Waa Hospital Helipad,-30.225000,149.448300,632.0,OC,AU,AU-NSW,Wee Waa,no,YXWW,NaN,YXWW,NaN,NaN,NaN
53073,309326,YXWY,heliport,Wyong Hospital Helipad,-33.260250,151.480690,94.0,OC,AU,AU-NSW,Wyong,no,YXWY,NaN,YXWY,NaN,NaN,NaN
53074,309325,YXYO,heliport,Young Hospital Helipad,-34.320940,148.287980,1523.0,OC,AU,AU-NSW,Young,no,YXYO,NaN,YXYO,NaN,NaN,NaN
53083,28091,YYBK,heliport,Yarra Bank Heliport,-37.822287,144.956792,NaN,OC,AU,AU-VIC,NaN,no,YYBK,NaN,NaN,NaN,NaN,NaN
53161,41544,ZA-0021,heliport,Pretoria Central Heliport,-25.655701,28.220600,4087.0,AF,ZA,ZA-GT,Pretoria,no,NaN,HPR,NaN,NaN,NaN,NaN
53257,312611,ZA-0117,heliport,Pumba Helipad,-33.387799,26.410595,NaN,AF,ZA,ZA-EC,Nelson Mandela Bay,no,NaN,NaN,NaN,http://www.pumbagamereserve.co.za/amenities,NaN,NaN
53259,312624,ZA-0119,heliport,Cape Town Heliport,-33.901018,18.425936,NaN,AF,ZA,ZA-WC,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN
53280,318475,ZA-0140,heliport,Kuruman Hospital Heliport,-27.459904,23.443762,NaN,AF,ZA,ZA-NC,Kuruman,no,NaN,NaN,NaN,NaN,NaN,NaN
53370,301278,ZIZ,heliport,Zamzama Heliport,26.710944,67.667250,128.0,AS,PK,PK-SD,Zamzama Gas Field,no,NaN,ZIZ,NaN,NaN,NaN,NaN
53628,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,http://en.wikipedia.org/wiki/Principality_of_S...,Roughs Tower Helipad

### SQL:
select * from airports where type not in ('heliport', 'balloonport')

In [25]:
airports[~airports.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
5,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
6,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
7,6528,00CA,small_airport,Goldstone /Gts/ Airport,35.350498,-116.888000,3038.0,NaN,US,US-CA,Barstow,no,00CA,NaN,00CA,NaN,NaN,NaN
8,324424,00CL,small_airport,Williams Ag Airport,39.427188,-121.763427,87.0,NaN,US,US-CA,Biggs,no,00CL,NaN,00CL,NaN,NaN,NaN
10,6529,00CO,closed,Cass Field,40.622202,-104.344002,4830.0,NaN,US,US-CO,Briggsdale,no,NaN,NaN,NaN,NaN,NaN,00CO
11,6531,00FA,small_airport,Grass Patch Airport,28.645500,-82.219002,53.0,NaN,US,US-FL,Bushnell,no,00FA,NaN,00FA,NaN,NaN,NaN
13,6533,00FL,small_airport,River Oak Airport,27.230900,-80.969200,35.0,NaN,US,US-FL,Okeechobee,no,00FL,NaN,00FL,NaN,NaN,NaN
14,6534,00GA,small_airport,Lt World Airport,33.767502,-84.068298,700.0,NaN,US,US-GA,Lithonia,no,00GA,NaN,00GA,NaN,NaN,NaN
17,6537,00ID,small_airport,Delta Shores Airport,48.145302,-116.213997,2064.0,NaN,US,US-ID,Clark Fork,no,00ID,NaN,00ID,NaN,NaN,NaN
18,322581,00IG,small_airport,Goltl Airport,39.724028,-101.395994,3359.0,NaN,US,US-KS,McDonald,no,00IG,NaN,00IG,NaN,NaN,NaN
20,6539,00IL,small_airport,Hammer Airport,41.978401,-89.560402,840.0,NaN,US,US-IL,Polo,no,00IL,NaN,00IL,NaN,NaN,NaN
22,6541,00IS,small_airport,Hayenga's Cant Find Farms Airport,40.025600,-89.122902,820.0,NaN,US,US-IL,Kings,no,00IS,NaN,00IS,NaN,NaN,NaN
23,6542,00KS,small_airport,Hayden Farm Airport,38.727798,-94.930496,1100.0,NaN,US,US-KS,Gardner,no,00KS,NaN,00KS,NaN,NaN,NaN
24,6543,00KY,small_airport,Robbins Roost Airport,37.409401,-84.619698,1265.0,NaN,US,US-KY,Stanford,no,00KY,NaN,00KY,NaN,NaN,NaN
27,6545,00LS,small_airport,Lejeune Airport,30.136299,-92.429398,12.0,NaN,US,US-LA,Esterwood,no,00LS,NaN,00LS,NaN,NaN,NaN
28,6546,00MD,small_airport,Slater Field,38.757099,-75.753799,45.0,NaN,US,US-MD,Federalsburg,no,00MD,NaN,00MD,NaN,NaN,NaN
30,6548,00MN,small_airport,Battle Lake Municipal Airport,46.299999,-95.700302,1365.0,NaN,US,US-MN,Battle Lake,no,00MN,NaN,00MN,NaN,NaN,NaN
31,6549,00MO,small_airport,Cooper Flying Service Airport,37.202801,-94.412399,970.0,NaN,US,US-MO,Alba,no,00MO,NaN,00MO,NaN,NaN,5K8
32,6550,00MT,closed,Sands Ranch Airport,48.537498,-109.705002,2600.0,NaN,US,US-MT,Havre,no,NaN,NaN,NaN,NaN,NaN,00MT
33,6551,00N,small_airport,Bucks Airport,39.473202,-75.185204,105.0,NaN,US,US-NJ,Bridgeton,no,00N,NaN,00N,NaN,NaN,NaN
34,6552,00NC,small_airport,North Raleigh Airport,36.085201,-78.371399,348.0,NaN,US,US-NC,Louisburg,no,00NC,NaN,00NC,NaN,NaN,NaN
36,321919,00NK,seaplane_base,Cliche Cove Seaplane Base,44.811861,-73.369806,96.0,NaN,US,US-NY,Beekmantown,no,00NK,NaN,00NK,NaN,NaN,NaN
37,6554,00NY,small_airport,Weiss Airfield,42.900101,-77.499702,1000.0,NaN,US,US-NY,West Bloomfield,no,00NY,NaN,00NY,NaN,NaN,NaN
38,6555,00OH,small_airport,Exit 3 Airport,41.590900,-84.142197,785.0,NaN,US,US-OH,Wauseon,no,00OH,NaN,00OH,NaN,NaN,NaN
42,45773,00PN,small_airport,Ferrell Field,41.299500,-80.211111,1301.0,NaN,US,US-PA,Mercer,no,00PN,NaN,00PN,NaN,NaN,NaN
43,6559,00PS,closed,Thomas Field,40.377800,-77.365303,815.0,NaN,US,US-PA,Loysville,no,NaN,NaN,NaN,NaN,NaN,00PS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53600,32725,ZWYN,small_airport,Yining Airport,43.955799,81.330299,NaN,AS,CN,CN-65,Yining,yes,ZWYN,YIN,NaN,NaN,https://en.wikipedia.org/wiki/Yining_Airport,NaN
53601,30646,ZYAS,medium_airport,Anshan Air Base,41.105301,122.853996,NaN,AS,CN,CN-21,Anshan,yes,ZYAS,AOG,NaN,NaN,https://en.wikipedia.org/wiki/Anshan_Teng%27ao...,NaN
53602,27237,ZYCC,medium_airport,Longjia Airport,43.996201,125.684998,706.0,AS,CN,CN-22,Changchun,yes,ZYCC,CGQ,NaN,NaN,http://en.wikipedia.org/wiki/Changchun_Longjia...,NaN
53603,300858,ZYCH,medium_airport,Changhai Airport,39.266667,122.666944,80.0,AS,CN,CN-21,Changhai,no,ZYCH,CNI,NaN,NaN,http://en.wikipedia.org/wiki/Changhai_Airport,NaN
53604,30827,ZYCY,medium_airport,Chaoyang Airport,41.538101,120.434998,568.0,AS,CN,CN-21,Chaoyang,yes,ZYCY,CHG,NaN,NaN,https://en.wikipedia.org/wiki/Chaoyang_Airport,NaN
53605,327349,ZYDU,medium_airport,Wudalianchi Dedu Airport,48.445000,126.133000,984.0,AS,CN,CN-23,Wudalianchi,yes,ZYDU,DTU,NaN,NaN,https://en.wikipedia.org/wiki/Wudalianchi_Dedu...,NaN
53606,324338,ZYFX,small_airport,Fuxin Airport,42.069014,121.718122,548.0,AS,CN,CN-21,Fuxin,no,ZYFX,NaN,NaN,NaN,NaN,NaN
53607,313994,ZYFY,medium_airport,Dongji Aiport,48.199494,134.366447,NaN,AS,CN,CN-23,Fuyuan,yes,ZYFY,FYJ,NaN,NaN,https://en.wikipedia.org/wiki/Fuyuan_Dongji_Ai...,NaN
53608,27238,ZYHB,large_airport,Taiping Airport,45.623402,126.250000,457.0,AS,CN,CN-23,Harbin,yes,ZYHB,HRB,NaN,NaN,http://en.wikipedia.org/wiki/Harbin_Taiping_In...,NaN
53609,31576,ZYHE,medium_airport,Heihe Airport,50.171621,127.308884,8530.0,AS,CN,CN-23,Heihe,yes,ZYHE,HEK,NaN,NaN,http://en.wikipedia.org/wiki/Heihe_Airport,NaN
53610,31701,ZYJL,small_airport,Jilin Airport,44.002201,126.396004,NaN,AS,CN,CN-22,Jilin,no,ZYJL,JIL,NaN,NaN,https://en.wikipedia.org/wiki/Jilin_Ertaizi_Ai...,NaN
53611,27239,ZYJM,medium_airport,Jiamusi Airport,46.843399,130.464996,262.0,AS,CN,CN-23,Jiamusi,yes,ZYJM,JMU,NaN,NaN,http://en.wikipedia.org/wiki/Jiamusi_Airport,NaN
53612,327450,ZYJS,medium_airport,Jiansanjiang Airport,47.110000,132.660278,NaN,AS,CN,CN-23,Jiansanjiang,yes,ZYJS,JSJ,NaN,NaN,https://en.wikipedia.org/wiki/Jiansanjiang_Air...,NaN
53613,313337,ZYJX,medium_airport,Jixi Xingkaihu Airport,45.293000,131.193000,760.0,AS,CN,CN-23,Jixi,yes,ZYJX,JXA,NaN,NaN,http://en.wikipedia.org/wiki/Jixi_Xingkaihu_Ai...,NaN
53614,31706,ZYJZ,medium_airport,Jinzhou Airport,41.101398,121.061996,NaN,AS,CN,CN-21,Jinzhou,yes,ZYJZ,JNZ,NaN,NaN,http://en.wikipedia.org/wiki/Jinzhou_Airport,Xiaolingzi Air Base
53615,307012,ZYLD,medium_airport,Lindu Airport,47.752056,129.019125,791.0,AS,CN,CN-23,Yichun,yes,ZYLD,LDS,NaN,NaN,http://en.wikipedia.org/wiki/Yichun_Lindu_Airport,Yichun Shi Airport
53616,300516,ZYLS,medium_airport,Yushu Batang Airport,32.836389,97.036389,12816.0,AS,CN,CN-63,Yushu,no,ZYLS,YUS,NaN,NaN,http://en.wikipedia.org/wiki/Yushu_Batang_Airport,NaN
53617,27240,ZYMD,medium_airport,Mudanjiang Hailang International Airport,44.524101,129.569000,883.0,AS,CN,CN-23,Mudanjiang,yes,ZYMD,MDG,NaN,NaN,http://en.wikipedia.org/wiki/Mudanjiang_Airport,Mudanjiang
53618,301193,ZYMH,medium_airport,Gu-Lian Airport,52.912778,122.430000,1836.0,AS,CN,CN-23,Mohe,yes,ZYMH,OHE,NaN,NaN,http://en.wikipedia.org/wiki/Mohe_Gulian_Airport,NaN
53619,27241,ZYQQ,medium_airport,Qiqihar Sanjiazi Airport,47.239601,123.917999,477.0,AS,CN,CN-23,Qiqihar,yes,ZYQQ,NDG,NaN,NaN,http://en.wikipedia.org/wiki/Qiqihar_Airport,NaN
53620,327451,ZYSQ,medium_airport,Songyuan Chaganhu Airport,44.938114,124.550178,459.0,AS,CN,CN-22,Qian Gorlos Mongol Autonomous County,yes,ZYSQ,YSQ,NaN,NaN,https://en.wikipedia.org/wiki/Songyuan_Chaganh...,NaN
53621,307017,ZYTH,small_airport,Tahe Airport,52.224444,124.720222,1240.0,AS,CN,CN-23,Tahe,no,ZYTH,NaN,NaN,NaN,NaN,NaN
53622,27242,ZYTL,large_airport,Zhoushuizi Airport,38.965698,121.539001,107.0,AS,CN,CN-21,Dalian,yes,ZYTL,DLC,NaN,NaN,http://en.wikipedia.org/wiki/Dalian_Zhoushuizi...,Dalian Air Base
53623,307013,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,42.253889,125.703333,1200.0,AS,CN,CN-22,Tonghua,yes,ZYTN,TNH,NaN,NaN,http://en.wikipedia.org/wiki/Tonghua_Sanyuanpu...,Tonghua Liuhe Airport
53624,27243,ZYTX,large_airport,Taoxian Airport,41.639801,123.483002,198.0,AS,CN,CN-21,Shenyang,yes,ZYTX,SHE,NaN,NaN,http://en.wikipedia.org/wiki/Shenyang_Taoxian_...,NaN
53625,27244,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,42.882801,129.451004,624.0,AS,CN,CN-22,Yanji,yes,ZYYJ,YNJ,NaN,NaN,http://en.wikipedia.org/wiki/Yanji_Chaoyangchu...,NaN
53626,317861,ZYYK,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,0.0,AS,CN,CN-21,Yingkou,yes,ZYYK,YKH,NaN,NaN,https://en.wikipedia.org/wiki/Yingkou_Lanqi_Ai...,NaN
53627,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
53629,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
53630,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,NaN,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"





##


## GROUP BY, COUNT, ORDER BY

Grouping is straightforward: use the $.groupby()$ operator. There’s a subtle difference between semantics of a COUNT in SQL and Pandas. In Pandas, .count() will return the number of non-null/NaN values. To get the same result as the SQL COUNT, use .size().

### SQL:
select iso_country, type, count(*) from airports group by iso_country, type order by iso_country, type

In [28]:
airports.groupby(['iso_country', 'type']).size()

iso_country  type
AD           heliport            2
AE           closed              3
             heliport           21
             large_airport       4
             medium_airport      7
             seaplane_base       3
             small_airport      15
AF           closed              1
             heliport            3
             medium_airport      8
             small_airport      51
AG           medium_airport      1
             small_airport       2
AI           medium_airport      1
AL           closed              4
             heliport            2
             large_airport       1
             medium_airport      3
             small_airport       2
AM           closed              4
             large_airport       1
             medium_airport      3
             small_airport       5
AO           closed             10
             medium_airport     21
             small_airport      73
AQ           closed              2
             medium_airport      4
             small_airport      20
AR           balloonport         1
                              ...
VI           seaplane_base       3
VN           closed              6
             heliport            5
             large_airport       3
             medium_airport     17
             small_airport      17
VU           medium_airport      4
             small_airport      28
WF           medium_airport      2
WS           medium_airport      1
             small_airport       3
XK           closed              2
             heliport            2
             large_airport       1
             medium_airport      1
YE           medium_airport     11
             small_airport      14
YT           medium_airport      1
ZA           closed             12
             heliport            4
             large_airport       5
             medium_airport     56
             small_airport     407
ZM           closed              1
             large_airport       1
             medium_airport      7
             small_airport      94
ZW           closed              1
             medium_airport      9
             small_airport     126
Length: 815, dtype: int64

### SQL:

select iso_country, type, count(\*) from airports group by iso_country, type order by iso_country, count(*) desc

In [30]:
type(airports.groupby(['iso_country', 'type']).size())

pandas.core.series.Series

In [33]:
type(airports.groupby(['iso_country', 'type']).size().to_frame('size'))

pandas.core.frame.DataFrame

In [36]:
airports.groupby(['iso_country', 'type']).size()

iso_country  type
AD           heliport            2
AE           closed              3
             heliport           21
             large_airport       4
             medium_airport      7
             seaplane_base       3
             small_airport      15
AF           closed              1
             heliport            3
             medium_airport      8
             small_airport      51
AG           medium_airport      1
             small_airport       2
AI           medium_airport      1
AL           closed              4
             heliport            2
             large_airport       1
             medium_airport      3
             small_airport       2
AM           closed              4
             large_airport       1
             medium_airport      3
             small_airport       5
AO           closed             10
             medium_airport     21
             small_airport      73
AQ           closed              2
             medium_airport      4
             small_airport      20
AR           balloonport         1
                              ...
VI           seaplane_base       3
VN           closed              6
             heliport            5
             large_airport       3
             medium_airport     17
             small_airport      17
VU           medium_airport      4
             small_airport      28
WF           medium_airport      2
WS           medium_airport      1
             small_airport       3
XK           closed              2
             heliport            2
             large_airport       1
             medium_airport      1
YE           medium_airport     11
             small_airport      14
YT           medium_airport      1
ZA           closed             12
             heliport            4
             large_airport       5
             medium_airport     56
             small_airport     407
ZM           closed              1
             large_airport       1
             medium_airport      7
             small_airport      94
ZW           closed              1
             medium_airport      9
             small_airport     126
Length: 815, dtype: int64

In [34]:
airports.groupby(['iso_country', 'type']).size().to_frame('size')

                            size
iso_country type
AD          heliport           2
AE          closed             3
            heliport          21
            large_airport      4
            medium_airport     7
            seaplane_base      3
            small_airport     15
AF          closed             1
            heliport           3
            medium_airport     8
            small_airport     51
AG          medium_airport     1
            small_airport      2
AI          medium_airport     1
AL          closed             4
            heliport           2
            large_airport      1
            medium_airport     3
            small_airport      2
AM          closed             4
            large_airport      1
            medium_airport     3
            small_airport      5
AO          closed            10
            medium_airport    21
            small_airport     73
AQ          closed             2
            medium_airport     4
            small_airport     20
AR          balloonport        1
...                          ...
VI          seaplane_base      3
VN          closed             6
            heliport           5
            large_airport      3
            medium_airport    17
            small_airport     17
VU          medium_airport     4
            small_airport     28
WF          medium_airport     2
WS          medium_airport     1
            small_airport      3
XK          closed             2
            heliport           2
            large_airport      1
            medium_airport     1
YE          medium_airport    11
            small_airport     14
YT          medium_airport     1
ZA          closed            12
            heliport           4
            large_airport      5
            medium_airport    56
            small_airport    407
ZM          closed             1
            large_airport      1
            medium_airport     7
            small_airport     94
ZW          closed             1
            medium_airport     9
            small_airport    126

[815 rows x 1 columns]

In [35]:
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index()

    iso_country            type  size
0            AD        heliport     2
1            AE          closed     3
2            AE        heliport    21
3            AE   large_airport     4
4            AE  medium_airport     7
5            AE   seaplane_base     3
6            AE   small_airport    15
7            AF          closed     1
8            AF        heliport     3
9            AF  medium_airport     8
10           AF   small_airport    51
11           AG  medium_airport     1
12           AG   small_airport     2
13           AI  medium_airport     1
14           AL          closed     4
15           AL        heliport     2
16           AL   large_airport     1
17           AL  medium_airport     3
18           AL   small_airport     2
19           AM          closed     4
20           AM   large_airport     1
21           AM  medium_airport     3
22           AM   small_airport     5
23           AO          closed    10
24           AO  medium_airport    21
25           AO   small_airport    73
26           AQ          closed     2
27           AQ  medium_airport     4
28           AQ   small_airport    20
29           AR     balloonport     1
..          ...             ...   ...
785          VI   seaplane_base     3
786          VN          closed     6
787          VN        heliport     5
788          VN   large_airport     3
789          VN  medium_airport    17
790          VN   small_airport    17
791          VU  medium_airport     4
792          VU   small_airport    28
793          WF  medium_airport     2
794          WS  medium_airport     1
795          WS   small_airport     3
796          XK          closed     2
797          XK        heliport     2
798          XK   large_airport     1
799          XK  medium_airport     1
800          YE  medium_airport    11
801          YE   small_airport    14
802          YT  medium_airport     1
803          ZA          closed    12
804          ZA        heliport     4
805          ZA   large_airport     5
806          ZA  medium_airport    56
807          ZA   small_airport   407
808          ZM          closed     1
809          ZM   large_airport     1
810          ZM  medium_airport     7
811          ZM   small_airport    94
812          ZW          closed     1
813          ZW  medium_airport     9
814          ZW   small_airport   126

[815 rows x 3 columns]

In [37]:
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False])

    iso_country            type  size
0            AD        heliport     2
2            AE        heliport    21
6            AE   small_airport    15
4            AE  medium_airport     7
3            AE   large_airport     4
1            AE          closed     3
5            AE   seaplane_base     3
10           AF   small_airport    51
9            AF  medium_airport     8
8            AF        heliport     3
7            AF          closed     1
12           AG   small_airport     2
11           AG  medium_airport     1
13           AI  medium_airport     1
14           AL          closed     4
17           AL  medium_airport     3
15           AL        heliport     2
18           AL   small_airport     2
16           AL   large_airport     1
22           AM   small_airport     5
19           AM          closed     4
21           AM  medium_airport     3
20           AM   large_airport     1
25           AO   small_airport    73
24           AO  medium_airport    21
23           AO          closed    10
28           AQ   small_airport    20
27           AQ  medium_airport     4
26           AQ          closed     2
34           AR   small_airport   618
..          ...             ...   ...
784          VI  medium_airport     2
789          VN  medium_airport    17
790          VN   small_airport    17
786          VN          closed     6
787          VN        heliport     5
788          VN   large_airport     3
792          VU   small_airport    28
791          VU  medium_airport     4
793          WF  medium_airport     2
795          WS   small_airport     3
794          WS  medium_airport     1
796          XK          closed     2
797          XK        heliport     2
798          XK   large_airport     1
799          XK  medium_airport     1
801          YE   small_airport    14
800          YE  medium_airport    11
802          YT  medium_airport     1
807          ZA   small_airport   407
806          ZA  medium_airport    56
803          ZA          closed    12
805          ZA   large_airport     5
804          ZA        heliport     4
811          ZM   small_airport    94
810          ZM  medium_airport     7
808          ZM          closed     1
809          ZM   large_airport     1
814          ZW   small_airport   126
813          ZW  medium_airport     9
812          ZW          closed     1

[815 rows x 3 columns]

##




## HAVING

### SQL:
select type, count(\*) from airports where iso_country = 'US' group by type having count(\*) > 1000 order by count(*) desc

In [55]:
airports_tmp = airports[airports.iso_country == 'US'].groupby('type').size().to_frame('size').reset_index()

In [66]:
airports_tmp[airports_tmp['size'] > 1000].sort_values('size', ascending=False)

            type   size
6  small_airport  13834
2       heliport   6243

### a better method, using filter()

In [72]:
airports[airports.iso_country == 'US'].groupby('type').filter(lambda g: len(g)>1000).groupby('type').size().sort_values(ascending=False).to_frame('size').reset_index()

            type   size
0  small_airport  13834
1       heliport   6243



##


## Top N records


Let’s say we did some preliminary querying, and now have a dataframe called **by_country**, that contains the number of airports per country:

In [78]:
by_country = airports.groupby('iso_country').size().to_frame('airport_count').reset_index()

In [79]:
by_country.head(3)

  iso_country  airport_count
0          AD              2
1          AE             53
2          AF             63

In the next example, we order things by ***airport_count*** and only select the top 10 countries with the largest count. Second example is the more complicated case, in which we want “the next 10 after the top 10”:

### SQL: 
select iso_country from by_country order by size desc limit 10

In [82]:
by_country.nlargest(10,columns='airport_count')

    iso_country  airport_count
224          US          22455
29           BR           4248
35           CA           2781
12           AU           1965
184          RU           1030
54           DE            937
74           GB            884
117          KR            881
152          MX            847
9            AR            842

### SQL: 
select iso_country from by_country order by size desc limit 10 offset 10

In [84]:
by_country.nlargest(20, columns='airport_count').tail(10)

    iso_country  airport_count
72           FR            841
46           CO            706
105          IT            668
229          VE            592
170          PG            591
239          ZA            484
43           CL            474
96           ID            466
65           ES            409
45           CN            399

In [85]:
by_country.nlargest(20, columns='airport_count')[10:]

    iso_country  airport_count
72           FR            841
46           CO            706
105          IT            668
229          VE            592
170          PG            591
239          ZA            484
43           CL            474
96           ID            466
65           ES            409
45           CN            399

##



## Aggregate functions (MIN, MAX, MEAN)

### SQL:
select max(length_ft), min(length_ft), mean(length_ft), median(length_ft) from runways

In [86]:
runways.head(3)

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,...,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft,Unnamed: 20
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,...,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,...,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
runways.agg({'length_ft': ['min', 'max', 'mean', 'median']}).T

           min       max         mean  median
length_ft  0.0  120000.0  3263.080516  2754.0




##



## JOIN

### SQL: 
select airport_ident, type, description, frequency_mhz from airport_freq join airports on airport_freq.airport_ref = airports.id where airports.ident = 'KLAX'

In [92]:
airport_freq.merge(airports[airports.ident == 'KLAX'][['id']], left_on = 'airport_ref', right_on ='id', how='inner')[['airport_ident', 'type', 'description', 'frequency_mhz']]

   airport_ident  type description  frequency_mhz
0           KLAX   APP   SOCAL APP          36.07
1           KLAX   APP   SOCAL APP         124.30
2           KLAX  ATIS        ATIS         133.80
3           KLAX   CLD    CLNC DEL         121.40
4           KLAX   DEP   SOCAL DEP         124.30
5           KLAX   GND         GND         121.65
6           KLAX  MISC          CG          34.50
7           KLAX  MISC          CG         898.40
8           KLAX   OPS          AF          37.22
9           KLAX   TWR         TWR         119.80
10          KLAX  UNIC      UNICOM         122.95




##



##
## UNION ALL and UNION

select name, municipality from airports where ident = 'KLAX' union all select name, municipality from airports where ident = 'KLGB'

In [93]:
df1 = airports.loc[airports.ident == 'KLAX', ['name', 'municipality']]

In [94]:
df2 = airports.loc[airports.ident == 'KLGB', ['name', 'municipality']]

In [95]:
pd.concat([df1, df2], axis=0)

                                       name municipality
27524     Los Angeles International Airport  Los Angeles
27549  Long Beach /Daugherty Field/ Airport   Long Beach




##


##


## INSERT

There’s no such thing as an **INSERT** in Pandas. Instead, you would create a new dataframe containing new records, and then concat the two:

create table heroes (id integer, name text);

insert into heroes values (1, 'Harry Potter');

insert into heroes values (2, 'Ron Weasley');

insert into heroes values (3, 'Hermione Granger');

In [96]:
df1 = pd.DataFrame({'id': [1, 2], 'name': ['Harry Potter', 'Ron Weasley']})

df2 = pd.DataFrame({'id': [3], 'name': ['Hermione Granger']})

In [102]:
pd.concat([df1, df2]).reset_index(drop=True)

   id              name
0   1      Harry Potter
1   2       Ron Weasley
2   3  Hermione Granger

##

##

## UPDATE

update airports set home_link = 'http://www.lawa.org/welcomelax.aspx' where ident == 'KLAX'

In [103]:
airports.loc[airports.ident == 'KLAX', 'home_link'] = 'http://www.lawa.org/welcomelax.aspx'

In [104]:
airports[airports.ident == 'KLAX']

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
27524,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,US,US-CA,Los Angeles,yes,KLAX,LAX,LAX,http://www.lawa.org/welcomelax.aspx,http://en.wikipedia.org/wiki/Los_Angeles_Inter...,NaN


##


##

## DELETE


The easiest (and the most readable) way to “delete” things from a Pandas dataframe is to subset the dataframe to rows you want to keep. Alternatively, you can get the indices of rows to delete, and **.drop()** rows using those indices:

delete from lax_freq where type = 'MISC'

### Pandas:

lax_freq = lax_freq[lax_freq.type != 'MISC']

lax_freq.drop(lax_freq[lax_freq.type == 'MISC'].index)